/* defaults */
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f1f1;
}

h1,
h2,
h3,
p,
span {
  font-size: 16px;
  color: #242424;
  font-weight: 400;
}

/* header */
.header {
  background: #2b0a96;
  width: 100%;
}

.header-container {
  width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.header-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.header-link {
  color: #fff;
  font-size: 20px;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: #b19fee;
}

/* list-loading */
.list-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-loading-icon {
  font-size: 54px;
  color: #2b0a96;
}

.list-loading p {
  text-align: center;
  margin-top: 20px;
}

/* search */
.search {
  width: 100%;
  margin-bottom: 2em;
  position: relative;
}

.search-icon {
  font-size: 24px;
  color: #2b0a96;
  position: absolute;
  left: 12px;
  top: 9px;
}

.search input {
  width: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 12px;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 400;
}

.search input:active,
.search input:focus {
  border-color: #2b0a96;
}

/* users-list */
.users-list {
  width: 1140px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.users-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

/* user-details */
.user-details-card {
  background: #fff;
  padding: 1em;
  border-radius: 4px;
}

.user-details-card h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 12px;
}

.user-details-card p {
  color: #666666;
  line-height: 8px;
}

.user-details-action {
  float: right;
}

.user-details-action a:first-child {
  margin-right: 12px;
}

.user-details-action-icon {
  color: #2b0a96;
  font-size: 20px;
}

/* avatar */
.avatar {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.avatar p {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

/* on tablew size */
@media only screen and (max-width: 1200px) {
  .header-container {
    padding: 1em;
    width: 100%;
  }

  .users-list {
    padding: 1em;
    width: 100%;
  }
}
